/* Home.css */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.home h1 {
    font-size: 3em;
    color: #6b6bff;
    margin-bottom: 10px;
}

.home p {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #4db8ff;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #6b6bff;
}



.carousel .slide {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}